---
import RSLogo from './svg/rs-logo';
import { getImage } from 'astro:assets';
import heroImageSM from '../images/hero-image-sm.jpg';
import heroImageMD from '../images/hero-image-md.jpg';
import heroImageDesktop from '../images/hero-image-desktop.jpg';

export interface HomepageTemplateProps {}

const mobileImage = await getImage({
  src: heroImageSM,
  format: 'webp',
  width: 393,
  height: 802,
  densities: [1.5, 2],
});

const tabletImage = await getImage({
  src: heroImageMD,
  format: 'webp',
  width: 834,
  height: 1194,
  densities: [1.5, 2],
});

const desktopImage = await getImage({
  src: heroImageDesktop,
  format: 'webp',
  width: 1200,
  height: 775,
  densities: [1.5, 2],
});

const xlDesktopImage = await getImage({
  src: heroImageDesktop,
  format: 'webp',
  width: 1728,
  height: 1117,
  densities: [1.5, 2],
});
---

<header class="header absolute top-0 left-0 w-full h-[113px] p-6 z-10 gradient">
  <RSLogo className="logo w-[39vw] h-auto" />
  <ul class="hidden">
    <li>Book A Lesson</li>
    <li>Testimonials</li>
  </ul>
  <button class="menu-toggle">
    <span class="sr-only">Toggle Menu</span>
  </button>
</header>

<section class="relative h-screen w-screen">
  <picture style="inset: 0" class="inset-0 absolute hero-image">
    <source
      media="(max-width: 393px)"
      type="image/webp"
      srcset={mobileImage.srcSet.attribute}
    />
    <source
      media="(max-width: 834px)"
      type="image/webp"
      srcset={tabletImage.srcSet.attribute}
    />
    <source
      media="(max-width: 1200px)"
      type="image/webp"
      srcset={desktopImage.srcSet.attribute}
    />
    <source
      media="(min-width: 1201px)"
      type="image/webp"
      srcset={xlDesktopImage.srcSet.attribute}
      }
    />
    <img
      src={desktopImage.src}
      width="1200"
      height="775"
      fetchpriority="high"
      alt="hero image"
    />
  </picture>

  <h1 class="hidden">Ride With Confidence</h1>
  <p class="hidden">
    At Ride Skills, we believe a confident rider is a better rider and a better
    rider is a happier rider.
  </p>
  <a class="hidden" href="#">Book A Lesson</a>
</section>

<main>
  <section class="hidden">
    <div>
      <svg></svg>
      <h2>Private Mountain Bike Lesson</h2>
      <ul>
        <li>Personalized coaching</li>
        <li>1-4 people of all ability levels</li>
        <li>2 hour minimum</li>
      </ul>
      <p>
        1 on 1 bike mountain bike coaching is the quickest way to increase your
        mtb skill set. We can work on what you want to learn if you have
        something specific in mind or I can come up with a lesson plan through
        the use of a questionnaire and skills assessment.
      </p>
      <a href="#booknow">Book Now</a>
    </div>
    <div>
      <svg></svg>
      <h2>Group Mountain Bike Lesson</h2>
      <ul>
        <li>Personalized coaching</li>
        <li>5-7 people of all ability levels</li>
        <li>3 hour minimum</li>
      </ul>
      <p>
        1 on 1 bike mountain bike coaching is the quickest way to increase your
        mtb skill set. We can work on what you want to learn if you have
        something specific in mind or I can come up with a lesson plan through
        the use of a questionnaire and skills assessment.
      </p>
      <a href="#booknow">Book Now</a>
    </div>
  </section>
</main>

<style lang="scss">
  @use '../styles/mixins' as *;

  .header {
    background-image: linear-gradient(
      to bottom,
      rgb(var(--color-primary-rgb) / 75%),
      rgb(var(--color-secondary-rgb) / 0)
    );
    display: grid;
    grid-template-columns: 45px 1fr 45px;
    grid-template-rows: fit-content(100%) auto;
  }

  .logo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    place-self: center;
  }

  .menu-toggle {
    grid-column: 3 / 4;
    grid-row: 1 / 1;
    align-self: center;
    justify-self: end;

    border: 0;
    padding: 0;
    position: relative;

    &,
    &::before,
    &::after {
      background-color: var(--color-white);
      border-radius: 2px;
      display: block;
      width: 18px;
      height: 2px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
    }

    &::before {
      top: -5px;
    }

    &::after {
      top: 5px;
    }

    @include for-size(tablet-portrait-up) {
      display: none;
    }
  }

  .hero-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
</style>
